In [1]:
import numpy as np
import pandas as pd
import os

What's the version of NumPy that you installed?

In [8]:
np.__version__

'1.23.2'

In [9]:
data_df = pd.read_csv('./car_price_data.csv')

Question 2: Number of records in the dataset

In [12]:
data_df.shape[0]

11914

In [13]:
data_df.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

Question 3: The most popular car manufacturers

In [37]:
data_df.Make.value_counts()[:4]

Chevrolet     1123
Ford           881
Volkswagen     809
Toyota         746
Name: Make, dtype: int64

Question 4: Number of unique Audi car models

In [16]:
data_df[data_df['Make'] == 'Audi'].Model.nunique()

34

Question 5: Number of columns with missing values

In [24]:
data_df.isna().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

Question 6: Does the median value change after filling missing values?

In [40]:
data_df['Engine Cylinders'].median()

6.0

In [41]:
data_df['Engine Cylinders'].fillna(data_df['Engine Cylinders'].mode()[0]).median()

6.0

Questions 7: Value of the first element of w

In [45]:
lotus_df = data_df[data_df['Make'] == 'Lotus'][['Engine HP', 'Engine Cylinders']]

In [48]:
lotus_df.drop_duplicates(inplace=True)

In [51]:
data_arr = lotus_df.to_numpy()

In [57]:
XTX = np.matmul(data_arr.T, data_arr)

In [58]:
XTX_inv = np.linalg.inv(XTX)

In [61]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [62]:
w = np.matmul(np.matmul(XTX_inv, data_arr.T), y)

In [64]:
w[0]

4.594944810094551